body{
	background: lightslategray;
}

#Holder{
	background: chocolate;
	width: 600px;
	height: 500px;
	border: 3px solid black;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;

    user-select:none;

}

#HolderValue{
	margin-left: 50px;
	margin-top: 40px;
	width: 80%;
	height: 90px;
	text-align: center;
	color: orange;
	font-family: fantasy;
	font-size: 42px;
	background: black;
	pointer-events: none;
}

.symbols{
	margin-top: 50px;
	width: 70px;
	height: 50px;
	margin-left: 25px;
	font-size: 32px;
}

#Delete{
	position: absolute;
	margin-top: 50px;
	width: 130px;
	height: 50px;
	margin-left: 20px;
	background: greenyellow;
	font-size: 27px;
	font-family: monospace;
}

#CallResult{
	position: absolute;
	margin-top: 50px;
	width: 220px;
	height: 50px;
	margin-left: 170px;
	background: red;
	font-size: 32px;
	font-family: monospace;
}